@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    overflow: hidden ;
}

h1{
    -webkit-text-stroke: 1px rgb(0, 4, 255);
}

#container{
    width: 100vw;
    height: 93.5vh;
    position: relative;
}


#screen{
    width: 100vw;
    height: 93.5vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
}

#forecastReport{
    overflow-x: auto;
}

.style{
    width: 288px;
    height: 360px;
    background-color: rgb(96 165 250);
    border-radius: 5px;
    margin: 16px;
    flex-shrink: 0;
}

.forecastImg{

    margin-left: 110px;
}

#not_found{
    height: 320px;
    margin-left: 300px;
}

.sides{
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    width: 20%;
}

#div1{
    background-size: contain;
}

#introImg{
    width: 1000px;
    height: 400px;
    object-fit: fill;
}